



</div>
		
<div class='selected_light', style="display: none;"></div>

<!-- <div class='list_of_lights'></div> -->

<div id="json-table"></div>




 <%= javascript_include_tag '//maps.google.com/maps/api/js?key=AIzaSyDbNEj2tKuBQRkuFgJlgVqjLdFlfuQ6zWY&v=3.30&callback=initMap' %>
